<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [*.Tests]*,
            [*MS.API]*,
            [*MS.Shared]*,
            [*MS.Infrastructure]*Migrations*,
            [*MS.Infrastructure]*Persistence*,
            [*MS.Infrastructure]*Repositories*,
            [*MS.Infrastructure]*Gateways*,
            [*MS.Infrastructure]*SendGrid*,
            [*MS.Domain]*Exceptions*,
            [*MS.Application]*DTOs*,
            [*MS.Application]*Dtos*
          </Exclude>
          <ExcludeByAttribute>ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
